[Unit]
Description = pocketbase

[Service]
Type           = simple
User           = root
Group          = root
LimitNOFILE    = 4096
Restart        = always
RestartSec     = 5s
StandardOutput = append:/root/pb/errors.log
StandardError  = append:/root/pb/errors.log
ExecStart      = /home/ashxdev/projects/pocketbase-dls serve --http="pb.dance-line.studio:80"

[Install]
WantedBy = multi-user.target